<div class="map">
  <!-- 面包屑导航 -->
  <el-breadcrumb class='bread' separator-class="el-icon-arrow-right">
    <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
    <el-breadcrumb-item>用户管理</el-breadcrumb-item>
    <el-breadcrumb-item>用户列表</el-breadcrumb-item>
  </el-breadcrumb>

  <!-- 查询按钮和文本框 -->
  <el-row :gutter="20">
    <el-col :span='8'>
      <el-input placeholder="请输入内容" v-model="input5">
        <el-button @click='startQuery' slot="append" icon="el-icon-search"></el-button>
      </el-input>
    </el-col>
    <el-col :span='
          3'>
      <el-button @click='showAddUserDialog'>添加用户</el-button>
    </el-col>
  </el-row>
  <!-- 列表 -->
  <el-table :data="userList">
    <el-table-column prop="username" label="姓名" width="180"></el-table-column>
    <el-table-column prop="email" label="邮箱" width="180"></el-table-column>
    <el-table-column prop="mobile" label="电话"></el-table-column>
    <el-table-column label="用户状态">
      <template slot-scope='scope'>
        <el-switch @change='stateChange(scope.row)' v-model="scope.row.mg_state">
        </el-switch>
      </template>
    </el-table-column>
    <el-table-column label="操作">
      <template slot-scope="scope">
        <el-button size='mini' plain type="primary" icon="el-icon-edit" @click='showEditUserDialog(scope.row)'></el-button>
        <el-button size='mini' plain type="danger" icon="el-icon-delete" @click='delUser(scope.row.id)'></el-button>
        <el-button size='mini' plain type='success' icon="el-icon-check" @click='showAssignRoleDialog(scope.row)'>分配角色</el-button>
      </template>
    </el-table-column>
  </el-table>
  <!-- 分页 -->
  <el-pagination @current-change='pageChanged' background layout="prev, pager, next" :current-page='pagenum' :total="total"
    :page-size="2">
  </el-pagination>
  <!-- 第一个对话框:添加用户对话框 -->
  <el-dialog title="添加用户" @close='addUserDialogClosed' :visible.sync="dialogAddUserVisible">
    <el-form ref='addUserFormRef' :model="addUserform" label-width="180px" :rules='rules'>
      <el-form-item label="用户名" prop='username'>
        <el-input v-model="addUserform.username" autocomplete="off"></el-input>
      </el-form-item>
      <el-form-item label="密码" prop='password'>
        <el-input v-model="addUserform.password" autocomplete="off"></el-input>
      </el-form-item>
      <el-form-item label="邮箱" prop='email'>
        <el-input v-model="addUserform.email" autocomplete="off"></el-input>
      </el-form-item>
      <el-form-item label="手机" prop='mobile'>
        <el-input v-model="addUserform.mobile" autocomplete="off"></el-input>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="dialogAddUserVisible = false">取 消</el-button>
      <el-button type="primary" @click="addUser">确 定</el-button>
    </div>
  </el-dialog>
  <!-- 第二个对话框:编辑用户对话框 -->
  <el-dialog title="编辑用户" :visible.sync="dialogEditUserVisible">
    <el-form :model="editUserForm" label-width='180px'>
      <el-form-item label="用户名">
        <el-tag type="info">{{editUserForm.username}}</el-tag>
        </el-input>
      </el-form-item>
      <el-form-item label="邮箱">
        <el-input v-model="editUserForm.email" autocomplete="off"></el-input>
      </el-form-item>
      <el-form-item label="电话">
        <el-input v-model="editUserForm.mobile" autocomplete="off"></el-input>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="dialogEditUserVisible = false">取 消</el-button>
      <el-button type="primary" @click="editUser">确 定</el-button>
    </div>
  </el-dialog>
  <!-- 第三个对话框:分配角色 -->
  <el-dialog title="分配角色" :visible.sync="dialogAssignRolesVisible">
    <el-form :model="AssignRolesForm" label-width="100px">
      <el-form-item label="用户名">
        <el-tag>{{ AssignRolesForm.username}}</el-tag>
      </el-form-item>
      <el-form-item label="角色列表">
        <el-select v-model="AssignRolesForm.rid" placeholder="请选择角色">
          <el-option v-for='item in rolesList' :key='item.id' :label="item.roleName" :value="item.id"></el-option>
        </el-select>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="dialogAssignRolesVisible = false">取 消</el-button>
      <el-button type="primary" @click="startAssignRole">确 定</el-button>
    </div>
  </el-dialog>
</div>
